{% extends 'base.html.twig' %}

{% block title %}Hello Home!
{% endblock %}

{% block body %}
	<h1>Créer une personne</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-success">Créer</button>
	{{ form_end(form) }}
{% endblock %}
