{% block stylesheets    %}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

<div class="header">
	<h1>Mais Livre
	</h1>
	<nav>

		<a href="{{path('home')}}">Accueil</a>

		<a href="{{path('book_add')}}">Ajouter un Livre</a>
	</nav>
</div>
